<html lang="en">
    <head>
        <title>visualtool</title>
        <meta charset="utf-8">

        <script src="https://unpkg.com/vue@next"></script>

        <script src="js/add-shape-button.js" defer></script>
        <script src="js/add-animation-button.js" defer></script>
        <script src="js/delete-button.js" defer></script>
        <script src="js/save-button.js" defer></script>
        <script src="js/context-menu.js" defer></script>
        <script src="js/edit-area.js" defer></script>
        <script src="js/app.js" defer></script>

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div class="row row-col-auto position-absolute bottom-0 px-4 py-3 gx-3">
            <div class="col">
                <add-shape-button>add shape</add-shape-button>
            </div>
            <div class="col">
                <add-animation-button>add anim</add-animation-button>
            </div>
            <div class="col">
                <delete-button>delete</delete-button>
            </div>
            <div class="col">
                <save-button>save</save-button>
            </div>
        </div>

        <div id="display">
            <template v-for="(shape, shapeIndex) in shapeList">
                <div :style="shape.style"
                     :index="shapeIndex"
                     @mousedown.ctrl.exact = "followMouse"
                     @mousedown.shift.exact = "editShape(shape)"></div>
                <edit-area v-if="shape.currentlyEditing" :shape="shape"></edit-area>
            </template>
        </div>

        <context-menu></context-menu>
    </body>
</html>
